.greet {
  background: url("../images/bg/bg-greet.jpg") center center no-repeat;
  background-size: cover;
  position: relative;

  .row {
    flex-wrap: nowrap;
    @include sm{
      flex-wrap: wrap;
    };
  }

  &__img {
    position: relative;
    padding-right: 20px;
    padding-bottom: 60px;
    padding-left: 50px;

    @include sm{
      padding: 0;
      margin: 0 auto;
      margin-bottom: 40px;
    };
    @include xs{
      margin-bottom: 10px;
    };
  }
  &__svg {
    width: 451px;
    height: 241px;
    position: absolute;
    top: 70px;
    left: 20px;
  }
  &__pic {
    width: 417px;
  }

  &__content {
    margin: 0 auto;
    text-align: center;
  }


  &__title {
    margin-bottom: 23px;
    @include xs {
      margin-bottom: 10px;
    };
  }

  &__next {
    position: absolute;
    z-index: 10;
    bottom: 40px;
    left: 50%;
    margin-left: -15px;

    &-svg {
      width: 29px;
      height: 14px;
    }
  }
}